@-webkit-keyframes scroll {
    0% { transform: translateY(280px); }
    100% { transform: translateY(calc(-101px * 9)); }
  }
  @keyframes scroll {
    0% { transform: translateY(280px); }
    100% { transform: translateY(calc(-101px * 9)); }
  }
  @-webkit-keyframes scroll2 {
    0% { transform: translateY(340px); }
    100% { transform: translateY(calc(-114px * 9)); }
  }
  @keyframes scroll2 {
    0% { transform: translateY(340px); }
    100% { transform: translateY(calc(-114px * 9)); }
  }
  .filmReel {
    overflow: hidden;
  }
  .slider {
    height: 300px;
    display: flex;
    overflow: hidden;
    -webkit-mask: linear-gradient(180deg, #0000, #000 5% 95%, #0000);
    mask: linear-gradient(180deg, #0000, #000 5% 95%, #0000);
  }
  .slider .slide-track {
    -webkit-animation: scroll 10s linear infinite;
            animation: scroll 10s linear infinite;
    width: 40%;
  }
  .slider .slide-track2 {
    -webkit-animation: scroll2 11s linear infinite;
            animation: scroll2 11s linear infinite;
    width: 40%;
  }